[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "libraries/paho.mqtt.c"]
	path = libraries/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "libraries/paho.mqtt.cpp"]
	path = libraries/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "libraries/yaml-cpp"]
	path = /tree/master/libraries/yaml-cpp
	url = https://github.com/ThomasDegallaix/gatewayMQTT.git
